<div id="navbar-wrapper" class="navbar-wrapper">
    <div class="{% if page.container_class %}{{ page.container_class }}{% else %}container-lg{% endif %}">
        <div class="row justify-content-center">
            <div class="col-12">
                <nav id="navbar-card" class="navbar navbar-expand-sm academic-card navbar-card">
                    <a class="navbar-brand" href="{{ '/' | relative_url }}">
                        {{ site.data.profile.navbar_name }}
                    </a>
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto align-items-center">
                            {% for item in site.data.navigation.pages %}
                            <li class="nav-item {% if item.name == page.navbar_title %}active{% endif %}">
                                <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const navbar = document.getElementById("navbar-card");
        
        window.addEventListener("scroll", function () {
            if (window.scrollY > 20) {
                navbar.classList.add("nav-scrolled");
            } else {
                navbar.classList.remove("nav-scrolled");
            }
        });
    });
</script>