{% assign news_by_year = site.news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<div class="row">
    <div class="col-12">
        <div class="academic-card">
            <div class="card-header-simple">
                <div class="card-header-title">
                    <i class="fas fa-rss"></i> News
                </div>
            </div>
            
            <div class="card-body card-body-simple news-scroll">
                {% for year in news_by_year %}
                    {% for item in year.items %}
                    <div class="news-row">
                        <div class="news-year">{{ year.name }}</div>
                        <div class="flex-grow-1 pl-2">
                            {{ item.title }}
                        </div>
                        <div class="news-date">
                            {{ item.date | date: "%b %d" }}
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>