{% assign publications = include.publications %}

<section class="academic-card my-5">
    <div class="card-header-simple">
        <div class="card-header-title">
            {% if include.title %}{{ include.title }}{% else %}Publications{% endif %}
        </div>
        <a class="text-secondary font-weight-500 small" href="{{ 'publications' | relative_url }}">
            View All &rarr;
        </a>
    </div>
    
    <div class="card-body-simple pt-0">
        {% for item in publications limit:include.limit %}
            {% include widgets/publication_item.html item=item %}    
        {% endfor %}
    </div>
</section>